main {
  padding: 1.5rem 1rem;
  margin: 0;
  background-color: $White;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $border-r;
  max-width: 100%;
  overflow-x: hidden;
  .right-container {
    .f-cont {
      display: block;
      padding: 0.5rem 0;
      position: relative;
      .sub-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        label {
          display: inline-block;
        }
        .err-msg {
          color: $wrong;
          display: none;
        }
      }
      input {
        display: block;
        width: 95%;
        margin: 0.3rem 0;
        padding: 0.6rem 0.5rem;
        &:focus {
          border: 4px solid $L-grayish-cyan-1;
        }
      }
      #icon {
        position: relative;
        bottom: 40px;
        left: 15px;
        color: $L-grayish-cyan-1;
      }
    }
    .option-tips {
      .options {
        button {
          display: inline-block;
          width: calc(100% * 1 / 2 - 10px);
          border: 0;
          outline: 0;
          cursor: pointer;
          padding: 0.6rem 0.5rem;
          margin: 0.5rem 0;
          background-color: $V-dark-cyan;
          border-radius: 10px;
          color: $White;
          font-weight: $f-three;
          font-size: $form-input-size;
          &:hover {
            background-color: $Strong-cyan;
            color: $V-dark-cyan;
          }
        }
        input {
          display: inline-block;
          width: 42%;
          padding: 1rem 0.6rem;
          border-radius: 10px;
          &::placeholder {
            font-weight: $f-three;
            font-size: $form-input-size;
          }
        }
      }
      label {
        display: block;
      }
    }
  }
  .left-container {
    padding: 1rem;
    background-color: $V-dark-cyan;
    border-radius: $border-r;
    .content {
      h5 {
        color: $White;
        font-size: 18px;
      }
      p {
        color: $L-grayish-cyan-1;
        font-size: 15px;
        margin-top: -20px;
      }
    }
    .reset {
      border: 0;
      width: 100%;
      display: block;
      padding: 0.8rem 0.6rem;
      background-color: $Strong-cyan;
      cursor: pointer;
      border-radius: 10px;
      color: $V-dark-cyan;
      font-weight: $f-three;
      font-size: $form-input-size;

      &:disabled {
        background-color: $D-grayish-cyan-2;
      }
    }
    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .result-total,
    .result-person {
      color: $Strong-cyan;
      font-size: 30px;
      font-weight: $f-three;
    }
  }
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    box-shadow: 0 5px 10px $L-grayish-cyan-1;
    .right-container {
      width: 50%;
      height: fit-content;
      input {
        width: 100%;
      }
      .option-tips {
        .options {
          button {
            width: calc(100% * 1 / 3 - 10px);
          }
          input {
            width: 25%;
          }
        }
      }
    }
    .left-container {
      width: 45%;
      height: 85%;
      position: relative;
      .reset {
        position: absolute;
        width: 93%;
        bottom: 4%;
      }
    }
  }
}
