// ## Colors

// ### Primary

$Strong-cyan: hsl(172, 67%, 45%);

// ### Neutral

$V-dark-cyan: hsl(183, 100%, 15%);
$D-grayish-cyan-1: hsl(186, 14%, 43%);
$D-grayish-cyan-2: hsl(184, 14%, 56%);
$L-grayish-cyan-1: hsl(185, 41%, 84%);
$L-grayish-cyan-2: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

$form-input-size: 24px;

$f-one: 400;
$f-two: 500;
$f-three: 700;

$border-r: 18px;
